* {
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.87);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 100% !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
